.login-form {
    border: 1px solid rgb(31, 28, 24);
    height: 50vh;
    width: 20vw; /* Kích thước cố định cho độ rộng */
    border-radius: 20px;
    max-width: 400px; /* Đặt chiều rộng tối đa để giữ cho form không quá lớn trên màn hình lớn */
    margin: 0 auto; /* Căn giữa form */
}

@media (min-width: 600px) {
    .login-form {
        width: 40vw; /* Khi chiều rộng màn hình >= 600px */
    }

    .login-wrap{
        width: 20vw;
    }
}

@media (max-width: 800px) {
    .login-form {
        width: 90vw; /* Khi chiều rộng màn hình < 600px, chiều rộng form sẽ chiếm 90% */
        height: auto; /* Thay đổi chiều cao sang auto để giữ nội dung bên trong tốt hơn */
    }

    .login-wrap{
        width: 90vw;
    }
}

.login-button {
    margin-bottom: 20px;
    padding: 10px;
}

.form-login {
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding-left: 2em;
    padding-right: 2em;
    padding-bottom: 0.4em;
    background-color: #171717;
    border-radius: 25px;
    transition: 0.4s ease-in-out;
    border-radius: 20px;
}

.field-login {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.5em;
    border-radius: 25px;
    padding: 0.6em;
    border: none;
    outline: none;
    color: white;
    background-color: #171717;
    box-shadow: inset 2px 5px 10px rgb(5, 5, 5);
}

.input-icon {
    height: 1.3em;
    width: 1.3em;
    fill: white;
}

.input-field {
    background: none;
    border: none;
    outline: none;
    width: 100%;
    color: #d3d3d3;
}

.btn-login {
    display: flex;
    justify-content: center;
    flex-direction: row;
    margin-top: 2.5em;
}

.button1 {
    padding: 0.5em;
    border-radius: 5px;
    border: none;
    outline: none;
    transition: 0.4s ease-in-out;
    background-color: #252525;
    color: white;
    cursor: pointer;
    width: 100%; /* Để nút rộng ra hết chiều rộng của khung */
}

.button1:hover {
    background-color: black;
    color: white;
}

.alert {
    margin-top: 1em;
}

.card {
    background-image: linear-gradient(163deg, #ffa600 0%, #ffa600 100%);
    border-radius: 22px;
    transition: all 0.3s;
    padding: 0;
}
  
.card2 {
    border-radius: 10px;
    transition: all 0.2s;
    padding: 20px;
}
  
.card2:hover {
    transform: scale(0.98);
    border-radius: 20px;
}
  
.card:hover {
    box-shadow: 0px 0px 30px 1px rgb(255, 145, 0);
}

#heading {
    text-align: center;
    margin: 2em;
    color: rgb(255, 255, 255);
    font-size: 1.2em;
}